{% extends 'main/layout.html' %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    <p class="fw-light text-right m-0">
        <a href="{% url 'update-category' cat_url=category.url %}">Update category</a>
        <a href="{% url 'delete-category' cat_url=category.url %}">Delete category</a>
        <a href="{% url 'create-product' cat_url=category.url %}">Create product</a>
    </p>
{{ ProductsSortedByRating }}
    {% if products %}
        <div class="container bg-white p-3 px-4 my-3">
            <span class="h4-responsive fw-light">Hottest products in "{{ category.name }}"</span>
        </div>
        <div class="container bg-white p-3 px-4 my-3 mb-5">
            <div class="row">
                {% for product in products %}
                    {% include 'main/product_card.html' %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container bg-white p-3 px-4 my-3">
            <span class="h4-responsive fw-light">"{{ category.name }}" category is empty</span>
        </div>
    {% endif %}
{% endblock %}