{% extends 'main/layout.html' %}

{% block title %}Create product in "{{ title }}" category{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
            <div class="alert alert-warning mt-2">
                {{ form.title }}<br>
                {{ form.url }}<br>
                {{ form.price }}<br>
                {{ form.description }}<br>
                <button type="submit" class="btn btn-success">Add Product</button>
                <span>{{ error }}</span>
            </div>
    </form>
{% endblock %}