{% extends 'main/layout.html' %}


{% block title %}{{ title }}{% endblock %}


{% block content %}
{% if not user.is_authenticated %}
{{ user }}
{% endif %}
<div class="row">
    <div class="col-6">
        <span class="fw-light push-left">
            {% for category in products_by_category.keys %}
                <a href="/{{ category.url }}">{{ category }}</a>
            {% endfor %}
        </span>
    </div>
    <div class="col-6">
        <p class="fw-light text-right m-0">
            <a href="{% url 'create-category' %}">Create category</a>
        </p>
    </div>
</div>
{% for category, products in products_by_category.items %}
    {% if products %}
        <div class="container bg-white p-3 px-4 my-3">
            <div class="row">
                <div class="col-10">
                    <span class="h4-responsive fw-light push-left">Hottest products in "{{ category.name }}"</span>
                </div>
                <div class="col-2">
                    <p class="h4-responsive fw-light text-right m-0">
                        <a href="/{{ category.url }}"><i class="fas fa-compress"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container bg-white p-3 px-4 my-3 mb-5">
            <div class="row">
                {% for product in products %}
                    {% include 'main/product_card.html' %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}