{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
            <div class="container bg-white p-3 px-4 my-3">
                <span class="h4-responsive fw-light">login</span>
            </div>
            <div class="alert alert-warning mt-2">
                {{ form }}
                <button type="submit" class="btn btn-success">Add Category</button>
                <span>{{ error }}</span>
            </div>
    </form>
{% endblock %}