<div class="product-card col-12 col-sm-6 col-md-4 col-lg-3 p-3">
    <div class="card">
        <div class="p-2">
            <img
                    src="https://mdbootstrap.com/img/new/standard/city/044.jpg"
                    class="card-img-top rounded z-depth-1"
                    alt="..."
            />
        </div>
        <div class="card-body card-body-cascade text-center">
            <p class="card-title m-0">
                <span class="h4-responsive fw-light">{{ product.title }}</span>
            </p>
            <p class="card-text text-center m-0">
                <span class="h4-responsive fw-light">{{ product.price }}$</span>
            </p>
            <a href="{{ product.get_absolute_url }}" class="stretched-link"><div
                class="mask waves-effect waves-light rgba-white-slight"
                mdbWavesEffect
            ></div></a>
        </div>
    </div>
</div>